.viewBlog{
    position: relative;
    &__title{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        font-family: var(--font-primary);
        font-size: 3.5rem;
        position: relative;

        .icon{
            position: absolute;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2.5rem;
            padding-left: 6rem;
        }
    } 
    
    &__container{
        display: flex;
        flex-direction: row;
        .recent{
            width: 30%;
            padding: 10px;
        }
        .blogBox{
            flex: 1;
            padding: 10px;
            .card{
                border-radius: 10px;
                background: white;
                width: 100%;
                margin-top: 15px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                font-family: var(--font-primary);
                img{
                    width: 100%;
                    height: auto;
                    max-height: 450px;
                }
                .title{
                    padding: 5px;
                    width: 100%;
                    font-size: 2rem;
                    font-weight: 600;
                    text-align: left;
                    margin: 1rem 0rem 0rem 0rem;
                }

                .infobar{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px;
                    .date {
                        font-size: 0.9rem;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        color: rgba(0, 0, 0, 0.734);
                        padding: 5px 0px;
                      }

                      .share{
                        display: flex;
                        span{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 0px 5px;
                            cursor: pointer;
                        }
                      }
                }

                .content{
                    padding: 5px;
                    p{
                        margin: 10px 5px;
                        font-size: 1.1rem;
                        line-height: 1.5rem;
                    }
                    a{
                        color: blue;
                    }

                    ul{
                        padding-left: 2rem;
                    }

                    h1,h2,h3,h4,h5,h6{
                        margin-top: 1.5rem;
                    }
                }

                .author{
                    padding: 5px;
                    border-top: 1px solid grey;
                    margin: 10px 0px;
                    color: rgba(0, 0, 0, 0.734);
                    display: flex;
                    align-items: center;
                }
               
            }
        }        
    }
}




@media screen and (max-width: 800px) {
    .section__padding{
        padding: 1rem;
    }
    .viewBlog__title{
        font-size: 2.5rem;
        .icon{
            left: 10px;
            font-size: 2rem;
            padding-left: 0rem;
        }
    }
    .viewBlog {
        &__container{
            flex-direction: column-reverse;
            .recent{
                width: 100%;
            }
        }
    }  
  }
