.CookieFloat{
    position: fixed;
    bottom: 30px;
    left: 100px;
    width: 30%;
    height: fit-content;
    background: var(--bg-clr);
    padding: 10px;
    border-radius: 10px;
    border:1px solid white;
    font-family: var(--font-primary);
    color: white;

    .title{
        p{
            margin:0;
        }
        font-weight: 600;
        text-align: left;
        width: 100%;
        margin-bottom: 5px;
    }

    .content{
        font-size:0.8rem;
    }

    .button{
        background: var(--gradient);
        border-radius: 10px;
        width: fit-content;
        padding: 0px 10px;
        margin-top: 10px;
        cursor: pointer;
    }
}


@media screen and (max-width: 800px) {

    .CookieFloat{
        display: none;
    }
  
  
  }