* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body {
    background: var(--bg-clr);
}


.bg_pattern{
    z-index: -1;

    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../public/banner-bg-loop.png');
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 120vh;
}
.bg_pattern2{
    z-index: -1;

    position: absolute;
    top: 200vh;
    left: 0;
    background-image: url('../public/banner-bg-loop-2.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.bg_pattern3{
    z-index: -1;

    position: absolute;
    top: 350vh;
    left: 0;
    background-image: url('../public/banner-bg-loop-3.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh
}
.bg_pattern4{
    z-index: -1;

    position: absolute;
    bottom: 10vh;
    left: 0;
    background-image: url('../public/banner-bg-loop-4.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh
}
.bg_pattern5{
    z-index: -1;
    position: absolute;
    bottom: 300px;
    left: 0;
    background-image: url('../public/banner-bg-loop-4.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 120vh
}



.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container{
    padding: 2rem 6rem;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__padding_x{
    padding: 0rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.text-white{
    color:white;
}



/* Tabular Responsive */

@media screen and (max-width:700px) {
    .section__padding{
        padding: 4rem;
    }

    .section__padding_x{
        padding: 0rem 2rem;
    }
    
    .section__margin{
        margin: 4rem;
    }

    .container{
        padding: 2rem 4rem;
    }
}


/* Mobile Responsive */

@media screen and (max-width:550px) {
    .section__padding{
        padding: 2rem 2rem;
    }
    
    .section__margin{
        margin: 4rem 2rem;
    }

    .container{
        padding: 2rem 2rem;
    }
}
