/* This will contain all the variables - font imports and any other asset management that needs to be used across the application */

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("./animations.css");


:root {
  --font-primary: 'Montserrat';
  --bg-clr: rgba(24, 24, 24, 1);
  --clr-blue:#4452FE;
  --clr-pink:#FF4581;
  --clr-roadmap-text:#5e758d;
  --gradient: linear-gradient(90deg, #ff4581 0%, #4388dd 100%);
  --gradient-text: linear-gradient(266.31deg, #ff4581 6.14%, #4388dd 99.41%);
}


.primary-btn {
  margin-top: 2rem;
  width: fit-content;
  padding: 1em 2.2em;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  background: var(--gradient);
  box-shadow: 0px 4px 31px rgb(0 0 0 / 15%);
  border: none;
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  align-items: center;
  }

.ptr {
  cursor: pointer;

}
