.JobCard{
    height: fit-content;
    background: transparent;
    padding: 1rem;
    border-radius: 10px;
    border:1px solid white;
    font-family: var(--font-primary);
    color: white;
    margin: 10px 0px;

    &__title{
        p{
            margin:0;
            font-size: 1.5rem;
        }
        font-weight: 600;
        text-align: left;
        width: 100%;
        margin: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .content{
        font-size:0.9rem;
        padding: 10px;
        line-height: 1.3rem;
    }

    .button{
        background: var(--gradient);
        border-radius: 10px;
        width: fit-content;
        padding: 5px 10px;
        cursor: pointer;
        margin: 10px 0px;
    }
}


@media screen and (max-width: 800px) {

   
  
  
  }