.main__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navbar__links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__link__logo {
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__link__logo img{
  width: 70px;
  height: auto;
}
.navbar__link__logo p{
  font-size: 25px;
    font-family: var(--font-primary);
    margin: 0px 10px;
}



.navbar_links_container {
  display: flex;
  flex: 1;
  justify-content: center;
}

.navbar_links_container > p > a , 
.mobile_menu_container > p > a {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  margin: 0rem 1rem;
}

.navbar__button > button , .navbar__mobile__button > button {
  width: fit-content;
  padding: 1em 2.2em;
  height: fit-content;
  color: #ffffff;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  background: var(--gradient);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
}

.navbar__mobile__menu{
    display: none;
    position: relative;
    z-index: 2;
}


.mobile_menu_container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: var(--bg-clr);
    padding: 1em;
    position: absolute;
    top: 20px;
    right:0;
    margin-top: 1rem;
    min-width: 230px;
    border-radius: 5px;
    /* box-shadow: 3px 6px 39px -10px #4452fe5c inset; */
    box-shadow: 1px 6px 11px 0px rgb(255 69 129 / 52%);
  
  
  


}

.mobile_menu_container > p{
  margin: 0.5rem 0.5rem;
}

@media screen and (max-width: 800px) {
    .navbar_links_container , .navbar__button{
        display: none;
    }
    .navbar__mobile__menu{
        display: block;
    }

    .navbar__link__logo p {
      font-size: 20px;
      font-family: var(--font-primary);
      margin: 0px 0px;
    }
}


